<div class="node">
  <p class="tag"><input type="text" [(ngModel)]="node.property"> <input type="text" [(ngModel)]="node.value"></p>
  <p class="actions">
    <button class="icon-plus" type="button" (click)="addNode(node)">
      Add new node
    </button>
    <button *ngIf="deletable" class="icon-less" type="button" (click)="deleteNode(node)">
      Remove this node
    </button>
  </p>
</div>
<app-c-node *ngFor="let node of node.children" [node]="node"  [deletable]="true" (deleteNodeHandler)="deleteChild($event)"></app-c-node>
