/* --------------------------------------------------------------------
               			INTEGRALE
               	Integrale VALIDATE styles only

						     Le Studio Worldline, 2020
-------------------------------------------------------------------- */

/* ------ SLIDE PANELS ------- */

div.panel ul.actions-list {
	position: absolute;
	width: 50%;
	top: 0.1rem;
	right: 5rem;
	justify-content: flex-end;
	padding-right: 0.5rem;
	z-index: 2;
}
  div.panel ul.actions-list [class*="icon-"] {
		border-color: var(--tex-inv);
	}


/* ----- DATE RANGE ---- */

div.date-range dl {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 2rem;
}

div.date-range dt {
	flex-basis: 100%;
	font: 1.1em var(--stack-b);
}
div.date-range dd:first-of-type {
	padding: 1rem 0.5rem;
	margin: 0.5rem 2rem 0 0.5rem;
	border-left: 2px solid var(--main-color);
}

div.dates-canceled dl {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding-left: 12em;
	padding-top: 2rem;
	margin-bottom: 2rem;
	margin-top: 1rem;
	border-top: 1px solid var(--n-medium);
}
div.dates-canceled dt {
	position: absolute;
	width: 10em;
	top: 2rem;
	left: 0;
	font: 1.1em var(--stack-b);
}
div.dates-canceled dd {
	flex-basis: 20%;
	color: var(--card-text);
	background-color: var(--card-bg);
	padding: 0.5rem 1rem;
	margin-right: 2rem;
	cursor: pointer;
}
div.dates-canceled dd:hover {
	color: var(--card-text-on);
	background-color: var(--card-bg-on);
}

.cd-name {
	display: block;
	margin-bottom: 0.5em;
}

div.dates-canceled time {
	font-family: var(--stack-b);
	margin-right: 2rem;
}

div.dates-canceled .cd-repeat {
	font-size: 90%;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M13.65,2.35A8,8,0,1,0,15.73,10H13.65A6,6,0,1,1,8,2a5.91,5.91,0,0,1,4.22,1.78L9,7h7V0Z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: 0 0.25em;
	background-size: 13px 13px;
	padding: 0.3em 0 0.3em 20px;
}


/* ---- PHRASES ---- */

div.phrase {
	color: var(-main-color);
	background-color: var(--body-bg);
	padding: 0.2em 0.5em;
	margin-bottom: 1rem;
	border: 1px solid var(--n-medium);
}

	div.phrase p {font-family: var(--stack-b);}

div.select-all {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
	margin-bottom: 1rem;
	border-top: 1px solid var(--n-medium);
	border-bottom: 1px solid var(--n-medium);
}

@keyframes toShine {
	0% {background-color: var(--initial);}
	50% {background-color: #F90;}
	100% {background-color: var(--initial);}
}
.added-block {
  --initial: var(--main-light);
  position: relative;
  animation-duration: 1s;
	animation-fill-mode: both;
	animation-name: toShine;
}
  .added-block .icon-delete {
    position: absolute;
    top: 0;
    right: 1rem;
  }
