/* --------------------------------------------------------------------
               			INTEGRALE
               		Main style-sheet

						Le Studio Worldline, 2020
-------------------------------------------------------------------- */
@import 'vars.css';


/* ------------------------------ RESET ---------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, big, cite, code,
del, dfn, em, form, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
}

header, footer, main, nav, aside, article, section, figure, figcaption {
  display: block;
	margin: 0;
	padding: 0;
	border: 0;
}


/* ------------------------------ DEFAULTS ---------------------------- */
@font-face {
    font-family: 'bai_jamjureebold';
    src: url('baijamjuree-bold-webfont.woff2') format('woff2'),
         url('baijamjuree-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bai_jamjureesemibold';
    src: url('baijamjuree-semibold-webfont.woff2') format('woff2'),
         url('baijamjuree-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bai_jamjureeregular';
    src: url('baijamjuree-regular-webfont.woff2') format('woff2'),
         url('baijamjuree-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {height: 100%; overflow: hidden;}

body {
	height: 100%;
	font: 100%/1.45 var(--stack);
	color: var(--body-text);
	background-color: var(--body-bg);
  scrollbar-width: thin;
  scrollbar-color: var(--n-light) var(--n-u-light);
}

body::-webkit-scrollbar {
  width: 11px;
}
body::-webkit-scrollbar-track {
  background: var(--n-light);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--n-u-light);
  border-radius: 6px;
  border: 0;
}

#container {
	margin: 2rem;
}
