/* --------------------------------------------------------------------
               			INTEGRALE
               		Main style-sheet

						Le Studio Worldline, 2020
-------------------------------------------------------------------- */
@import 'vars.css';


/* ------------------------------ RESET ---------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, big, cite, code,
del, dfn, em, form, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
}

header, footer, main, nav, aside, article, section, figure, figcaption {
  display: block;
	margin: 0;
	padding: 0;
	border: 0;
}


/* ------------------------------ DEFAULTS ---------------------------- */
body {
	height: 100%;
	font: 100%/1.45 var(--stack);
	color: var(--body-text);
	background-color: var(--body-bg);
	scroll-behavior: smooth;
}

h1 {
	font-size: calc(1em + 1vw);
	text-transform: uppercase;
	line-height: 1.1;
	letter-spacing: 0.2em;
	color: var(--n-medium);
	background-color: var(--n-u-dark);
}

h2 {
	font-size: calc(1.6em + 1vw);
	color: var(--n-medium);
	background-color: var(--body-bg);
	margin-bottom: 0.8em;
}

h3 {
	font-size: calc(1em + 0.7vw);
	margin: 1em 0 0.8em;
}

p, li, dt, dd {
	font-weight: 300;
	color: var(--body-text);
	background-color: var(--body-bg);
	font-size: calc(0.85em + 0.9vw);
}

a {
	text-decoration: none;
	color: var(--text-inv);
	background-color: var(--focus-color);
}
a:hover, a:visited {
	text-decoration: underline;
	color: var(--focus-color);
	background-color: var(--body-bg);
}
a:focus {
	text-decoration: underline;
	color: var(--focus-color);
	background-color: var(--body-bg);
}

img {max-width: 100%;}

button {
	font: bold 100%/1 var(--stack);
	color: var(--text-inv);
	background-color: var(--highlight);
	padding: 0.5em 1em;
	border: 2px solid var(--highlight);
	border-radius: var(--radius);
	cursor: pointer;
}

button:hover {
	color: var(--body-text);
	background-color: var(--body-bg);
	border-color: var(--focus-color);
}

:focus {
	outline: 2px dotted var(--focus-color);
}

blockquote {max-width: 35em; margin: 6vw;}
	blockquote p:first-child {
		font: bold 180%/1.4 var(--stack);
	}
	blockquote p:last-child {
		font-size: 95%;
		text-transform: uppercase;
	}

#container {
	width: 90%;
	max-width: 1200px;
	margin: 2vw auto;
}

/* --- SKIP LINKS --- */

.skip {
	font-size: 0.95em;
	text-align: center;
}

	.skip a {
		display: block;
		position: absolute;
		overflow: hidden;
		left: -10000px;
		top: auto;
		width: 1px;
		height: 1px;
	}
	.skip a:focus {position: static; width: auto; height: auto;}

/* ----- FORMS ----- */

form {
	margin: 4vw;
}

form p + p {margin-top: 1em;}

label {
	display: block;
	font-weight: bold;
}

input, select {
	font: 100%/1 var(--stack);
	color: var(--body-text);
	background-color: rgba(255,255,255,0.15);
	padding: 0.5em 0.65em;
	border: none;
	border-radius: 0.3em;
}
input:focus, select:focus {
	outline: none;
	border: 2px solid var(--focus-color);
}

p + p.buttons-bar {
	margin: 4vw 0;
}

input[type=submit], input[type=reset] {
	border: 2px solid var(--main-color);
	border-radius: var(--radius);
	margin-right: 2rem;
	cursor: pointer;
}

input[type=submit] {
	color: var(--text-inv);
	background-color: var(--main-color);
}

input[type=submit]:hover, input[type=reset]:hover {
	background-color: var(--focus-color);
}
input[type=reset]:hover {
	color: var(--text-inv);
}

input[type=submit]:focus, input[type=reset]:focus {
	outline: 2px dotted var(--focus-color);
}

input.error {border: 2px solid var(--alert-color);}

span.error {
	display: block;
	color: var(--alert-color);
}

/* ------------- COMPONENTS EXCEPTIONS --------------- */

div.card p {
	font-weight: 500;
	color: var(--text-inv);
	background-color: rgba(255,255,255,0);
}
