/* --------------------------------------------------------------------
               			INTEGRALE
               		Main style-sheet

						Le Studio Worldline, 2020
-------------------------------------------------------------------- */
@import 'vars.css';


/* ------------------------------ RESET ---------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, big, cite, code,
del, dfn, em, form, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
}

header, footer, main, nav, aside, article, section, figure, figcaption {
  display: block;
	margin: 0;
	padding: 0;
	border: 0;
}


/* ------------------------------ DEFAULTS ---------------------------- */
@font-face {
    font-family: 'bai_jamjureebold';
    src: url('baijamjuree-bold-webfont.woff2') format('woff2'),
         url('baijamjuree-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bai_jamjureesemibold';
    src: url('baijamjuree-semibold-webfont.woff2') format('woff2'),
         url('baijamjuree-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bai_jamjureeregular';
    src: url('baijamjuree-regular-webfont.woff2') format('woff2'),
         url('baijamjuree-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {height: 100%; overflow: hidden;}

body {
	height: 100%;
	font: 100%/1.45 var(--stack);
	color: var(--body-text);
	background-color: var(--body-bg);
  scrollbar-width: thin;
  scrollbar-color: var(--n-light) var(--n-u-light);
}

body::-webkit-scrollbar {
  width: 11px;
}
body::-webkit-scrollbar-track {
  background: var(--n-light);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--n-u-light);
  border-radius: 6px;
  border: 0;
}

h2 {font: normal 1.2em/1.2 var(--stack-h);}
	h2 .total, h3 .total {
		display: inline-block;
		font-family: var(--stack);
		font-weight: normal;
		margin-left: 0.25rem;
	}

h3, h4, h5, h6 {font-weight: normal;}

p, li, dt, dd {font-size: 0.95em;}
li li, li p, li dt, li dd {font-size: 100%;}

img {max-width: 100%; border: none;}

strong {font-family: var(--stack);}
	strong.stressed {color: var(--stressed);}

button {
	font: 100%/1 var(--stack);
	color: var(--bt-color);
	background-color: var(--bt-bg);
	padding: 0.3em 0.5em;
	border: 0;
	border-radius: var(--radius);
	cursor: pointer;
}

abbr {cursor: help;}

*:focus {outline-color: var(--focus-color);}

/* ---- Draggables and Dropables --- */

[draggable=true] {
/*	cursor: move;
	user-select: none;*/
}

.dndover {border: 2px dashed var(--focus-color);}


/* --------------------------------------------------------------------- */
/* ----------------------------- STRUCTURE ----------------------------- */
/* --------------------------------------------------------------------- */

#container {
	min-width: 1120px;
	height: 100%;
}

#wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

main {
	position: relative;
	flex: 1;
	margin: 0;
}

app-explorer + main {margin-left: 1rem;}

#page-body {
	box-sizing: border-box;
	overflow-y: auto;
	width: calc(100% - 2.5rem);
	height: calc(100% - 10rem);
	padding-right: 1rem;
	margin: 2rem 1.5rem;
}


/* --------------------------------------------------------------------- */
/* ----------------------------- FORMS --------------------------------- */
/* --------------------------------------------------------------------- */

form p:not(:last-child), form .go-along {margin-bottom: 0.8rem;}
fieldset:not(:last-child) {margin-bottom: 1rem;}

fieldset.highlight {
	background: var(--fieldset-h);
	padding: 1rem;
	margin: 2rem 0;
}

	fieldset.highlight > legend {
		font-family: var(--stack);
		font-weight: bold;
		color: var(--main-color);
		background-color: var(--body-bg);
		padding: 0.3em 0.5em;
	}

label {
	display: block;
	font-weight: bold;
}

label span {font-family: var(--stack); font-style: italic;}

input, select, textarea {
	font: 100%/1 var(--stack);
	color: var(--ipt-text);
	background-color: var(--ipt-bg);
	padding: 0.5em 0.7em;
	border: var(--ipt-border);
	border-radius: var(--ipt-radius);
}

input[disabled] {
	opacity: 0.7;
	cursor: initial;
}

.comment {font-style: italic;}

select {
	color: var(--ipt-text);
	-moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  line-height: 1.2;
  background-color: var(--ipt-bg);
  background-image: var(--select-img);
  background-repeat: no-repeat;
	background-position: right .5em top 50%;
	background-size: 1em auto;
	padding: 0.43em 1.8em 0.45em 0.5em;
}

input::placeholder {
	color: var(--pholder);
}

fieldset.choices legend {margin-bottom: 0.5em;}
fieldset.choices ul {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}
#explorer fieldset.choices li {font-size: 0.8em;}

input[type=submit], input[type=reset] {
	font: 110%/1 var(--stack-b);
	padding: 0.7em 1.5em;
	border: none;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
	cursor: pointer;
}
input[type=submit]:hover, input[type=reset]:hover {
	color: var(--submit-text-hover);
	background-color: var(--submit-bg-hover);
}

input[type=submit] {
	color: var(--submit-text);
	background-color: var(--submit-bg);
}
input[type=reset] {
	color: var(--reset-text);
	background-color: var(--reset-bg);
}

p.buttons-bar {text-align: center; margin: 2rem;}
	p.buttons-bar input {margin: 0.5rem;}

/* Filter form */

.filter-form {
  display: none;
	max-width: 181px;
	color: var(--filter-text);
  background-color: var(--filter-bg);
  background-image: var(--filter-img);
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 3px rgba(0,0,0,0.5);
}

.filter-form[aria-hidden=false] {display: block;}

.division {
	padding: 0 0 0.5rem;
	border-top: 1px solid var(--n-medium);
	border-bottom: 1px solid var(--n-medium);
	margin: 2rem 0;
}
.division:last-child {margin-bottom: 0;}

div.error-message {
	color: var(--error-m-text);
	background-color: var(--error-m-bg);
	background-repeat: no-repeat;
	background-position: 1rem 1rem;
	background-image: var(--error-m-img);
	padding: 1rem 1rem 1rem 3.5rem;
	margin: 1rem 0;
}


/* --------------------------------------------------------------------- */
/* ------------------------------- TABLES ------------------------------ */
/* --------------------------------------------------------------------- */

table {
	width: 100%;
	text-align: left;
	margin-bottom: 2rem;
	border-collapse: collapse;
	border-bottom: 1px solid var(--n-medium);
}

caption {text-align: left;}

tr:nth-child(even) td {background-color: var(--table-even-bg);}

th, td {padding: 0.5rem;}

th {
	color: var(--table-th-text);
	background-color: var(--table-th-bg);
	border-top: 2px solid var(--table-th-border);
	border-bottom: 1px solid var(--table-th-border);
	vertical-align: middle;
}
td {
	color: var(--table-td-text);
	background-color: var(--table-td-bg);
	vertical-align: middle;
}

tr[role=button] {cursor: pointer;}

tr[role=button]:hover td, tr[role=button]:focus td {
	color: var(--tr-hover-text);
  background-color: var(--tr-hover-bg);
}
tr[role=button]:hover strong.stressed,
	tr[role=button]:focus strong.stressed {
	color: var(--tr-hover-text);
}

.go-along {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.go-along.down {align-items: flex-end;}

.go-along > * {margin: 0 1rem 0 0;}

form .go-along > p:not(:last-child) {margin-bottom: 0;}


/* --------------------------------------------------------------------- */
/* ----------------------------- GENERICS ------------------------------ */
/* --------------------------------------------------------------------- */

/* VERTICAL NAV */

nav.vertical-nav li {
	list-style-type: none;
}

	nav.vertical-nav li a {
		display: block;
		text-decoration: none;
		color: var(--main-color);
		padding: 0.3em 0.5em;
	}
	nav.vertical-nav li a.active,
	 	nav.vertical-nav li a:focus,
			nav.vertical-nav li a:hover {
		background-color: var(--highlight);
	}

/* TITLES WITH ACTIONS */
.with-actions {display: flex;}
.with-actions ul.actions-list {margin-left: auto;}

/* SECTIONS */

section + section {margin-top: 2rem;}

	section h3 {
		font: 1.3em var(--stack-b);
		margin-bottom: 0.8em;
	}
	section h4 {
		font: 1em var(--stack-b);
		margin-bottom: 0.5em;
	}

section.inner {
	position: relative;
	padding-top: 0.5rem;
	margin-top: 0.5rem;
	border-top: 2px solid var(--main-color);
}
	section.inner::before {
		content: "";
		display: block;
		position: absolute;
		width: 1px;
		height: calc(100% - 2rem);
		bottom: 0;
		left: 0.5rem;
		background-color: var(--main-color);
	}
	section.inner ul.list-of-chips{
		margin-left: 1.5rem;
	}

/* ADDED ITEMS LIST */
/* as items are added dynamically, it won't read from component's css */

ul.added-items li {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-top: 0.5em;
	border-bottom: 1px solid var(--add-list-div);
}

ul.added-items button.icon-close {
	width: 25px;
	height: 25px;
  background-color: var(--add-list-close-bg);
	background-size: 40%;
  border: none;
}

app-settings-page div.add-list {
  margin-left: 1rem;
}

app-settings-page div.add-list::before {
  display: block;
  position: absolute;
  content: "";
  width: 1px;
  height: calc(100% + 2rem);
  top: -2rem;
  left: -1rem;
  background-color: var(--main-color);
}

/* ORDINARY BULLETED LIST */

ul.ordinary {
	list-style-type: none;
	margin: 1rem 0 1rem 1rem;
}
	ul.ordinary li::before {
		display: inline-block;
		content: "";
		width: 0.5em;
		height: 0.5em;
		background-color: var(--main-color);
		margin-right: 0.3em;
	}

/* GENERAL TEXT BLOCK */

div.text-block {max-width: 45em; margin-bottom: 2rem;}
	div.text-block p {
		line-height: 1.45;
		margin-bottom: 0.8em;
	}

/* EMPTY STATES */
div.empty-state {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	text-align: center;
	padding: 2rem;
}
	div.empty-state p {
		font-size: 2em;
		line-height: 1.1;
		color: var(--n-medium);
		background-color: transparent;
		padding-top: 100px;
	}
	div.empty-state svg {
		fill: var(--main-light);
		transform-origin: center;
		transform: scale(8);
		opacity: var(--empty-alpha);
	}

/* CHIPS */
ul.list-of-chips {
  display: flex;
  flex-wrap: wrap;
	list-style-type: none;
	margin-left: -0.25rem;
}

/* ICONS ONLY */
[class*="icon-"] {
  display: inline-block;
  overflow: hidden;
  width: 33px;
  height: 32px;
  text-indent: -500em;
  color: var(--text-inv);
  background-color: var(--icon-bg);
	background-image: var(--sprite);
  background-repeat: no-repeat;
	border: var(--icon-border);
  border-radius: var(--radius);
  padding: 0;
}

[class*="icon-"]:hover, [class*="icon-"]:focus {
  color: var(--n-dark);
  background-color: var(--highlight);
	background-position-x: -2px;
}

[class*="icon-"][disabled=disabled] {
	opacity: 0.5;
	cursor: default;
}
[class*="icon-"][disabled=disabled]:hover {
	color: var(--text-inv);
	background-color: transparent;
}

.icon-unsee {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='19' viewBox='0 0 22 19'%3E%3Cpath d='M10.83,6,14,9.16V9a3,3,0,0,0-3-3h-.17m-4.3.8L8.08,8.35A2.75,2.75,0,0,0,8,9a3,3,0,0,0,3,3,2.82,2.82,0,0,0,.65-.08l1.55,1.55A5,5,0,0,1,6.53,6.8M1,1.27,3.28,3.55,3.73,4A11.83,11.83,0,0,0,0,9a11.83,11.83,0,0,0,11,7.5,11.78,11.78,0,0,0,4.38-.84l.43.42L18.73,19,20,17.73,2.27,0M11,4a5,5,0,0,1,5,5,4.8,4.8,0,0,1-.36,1.82l2.93,2.93A11.84,11.84,0,0,0,22,9,11.81,11.81,0,0,0,7,2.2L9.17,4.35A5,5,0,0,1,11,4Z'/%3E%3C/svg%3E");
	background-position: 50%;
}
.icon-close {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14'%3E%3Cpath d='M14,1.41,12.59,0,7,5.59,1.41,0,0,1.41,5.59,7,0,12.59,1.41,14,7,8.41,12.59,14,14,12.59,8.41,7Z'/%3E%3C/svg%3E");
	background-position: 50%;
}
.icon-close:hover, .icon-close:focus {background-position-x: 50%;}

.icon-edit {background-position: -92px -3px;}
.icon-delete {background-position: -92px -51px;}
.icon-filter {background-position: -92px -145px;}
.icon-plus {background-position: -92px -99px;}
.icon-dots {background-position: -92px -189px;}
.icon-save {background-position: -90px -237px;}
.icon-star {background-position: -90px -286px;}
.icon-less {background-position: -90px -334px;}
.icon-marked {background-position: -91px -377px;}
.icon-date {background-position: -91px -427px;}
.icon-clipped {background-position: -93px -476px;}
.icon-person {background-position: -92px -524px;}
.icon-swap {background-position: -93px -617px;}
.icon-list {background-position: -92px -572px;}
.icon-ddown {background-position: -91px -659px;}
.icon-see {background-position: -88px -703px;}


/* ICON + TEXT BUTTONS */
[class*="bt-"] {
  display: inline-block;
	text-align: left;
  color: var(--text-inv);
  background-color: var(--main-color);
	padding: 0.3em 0.5em 0.3em 2em;
	border: 1px solid var(--main-color);
  border-radius: var(--radius);
}

[class*="bt-"]:hover, [class*="bt-"]:focus {
  color: var(--n-dark);
  background-color: var(--highlight);
}

.bt-add {
	background-repeat: no-repeat;
	background-size: 13px 13px;
	background-position: 0.5rem;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 19 19'%3E%3Cpolygon points='11.4 0 7.6 0 7.6 7.6 0 7.6 0 11.4 7.6 11.4 7.6 19 11.4 19 11.4 11.4 19 11.4 19 7.6 11.4 7.6 11.4 0' style='fill:%23fff'/%3E%3C/svg%3E");
}
.bt-add:hover, .bt-add:focus {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 19 19'%3E%3Cpolygon points='11.4 0 7.6 0 7.6 7.6 0 7.6 0 11.4 7.6 11.4 7.6 19 11.4 19 11.4 11.4 19 11.4 19 7.6 11.4 7.6 11.4 0' style='fill:%23406A93'/%3E%3C/svg%3E");
}

/* Combined buttons for dropdown */
.combine {display: flex;}
.combine > button:first-of-type {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.combine .textless div.dropdown button.control {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-color: var(--body-bg);
}

.combine div.dropdown {border: 0;}


/* -------------- SELECTABLE GROUPS ---------- */

div.selectable-group {
	display: flex;
}
	div.selectable-group > :last-child {flex: 1;}

	app-rules-list div.selectable-group app-checkbox p {
		top: 0.35rem;
	}


/* -------------- ACTIONS LIST ---------- */

ul.actions-list {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}
ul.actions-list li {
	margin: 0.25rem;
}
	main > header ul.actions-list [class*="icon-"] {
		border: 1px solid var(--body-bg);
	}

ul.actions-list.overall {
	position: absolute;
	top: 0;
	right: 0;
}
td ul.actions-list {position: relative;}

ul.actions-list li.group button {
	margin: 0 1px;
	border-radius: 0;
}

ul.actions-list li.group button[aria-selected=true] {
	color: var(--main-color);
	background-color: var(--highlight);
	background-position-x: -2px;
}

ul.actions-list li.group button:first-child {
	border-top-left-radius: var(--radius);
	border-bottom-left-radius: var(--radius);
}
ul.actions-list li.group button:last-child {
	border-top-right-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
}

ul.actions-list li.get-away {margin-right: 2rem;}


/* -------------- TOOLTIPS ---------- */

span.tooltip {
	display: block;
	position: absolute;
	top: 50px;
	width: 8em;
	height: auto;
	max-width: 8em;
	overflow-wrap: break-word;
	font: 12px/1 var(--stack);
	text-indent: 0;
	text-align: center;
	color: var(--text-inv);
	background: var(--n-dark);
	padding: 0.7em 1em;
	border-radius: 0.2rem;
	border: 1px solid var(--body-bg);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	opacity: 1;
	z-index: 10000;
}

span.tooltip::before {
	position: absolute;
	top: -5px;
	left: 50%;
	display: block;
	width: 10px;
	height: 10px;
	content: "";
	background: var(--n-dark);
	margin-left: -5px;
	border-top: 1px solid var(--body-bg);
	border-left: 1px solid var(--body-bg);
	transform: rotate(45deg);
}

.show-icons a:hover + .tooltip,
.show-icons a:focus + .tooltip {
	display: block;
}

/* ---- HIDE CONTENT FROM DISPLAY --- */
/* Readen but not seen */

.no-display {
	position: absolute;
	overflow: hidden;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
}


/* ---------- Total bubble ---------- */

.with-bubble {position: relative;}

.num-bubble {
	position: absolute;
	height: 1em;
	top: 0.2rem;
	right: 0.5rem;
	font-family: var(--stack-h);
	line-height: 1;
	color: var(--main-color);
	background-color: var(--highlight);
	padding: 0 0.2em;
	border-radius: 100%;
	z-index: 2;
}

/* List of filter chips */

div.filters {
	display: flex;
	align-items: center;
	padding: 0.25rem;
	margin-bottom: 2rem;
	border-top: 1px solid var(--n-medium);
	border-bottom: 1px solid var(--n-medium);
}

div.filters strong {display: block; margin-right: 1rem;}


/* --------------------------------------------------------------------- */
/* --------------------------- COMPONENTS EXCEPTIONS ------------------- */
/* Important global style fixes for some components */
/* --------------------------------------------------------------------- */

/* Collapsibles */
app-collapsible ul.actions-list.top {
	position: absolute;
	top: -2.1rem;
	right: 0;
}

app-conditions app-radios fieldset {
	margin-bottom: 1rem;
}

header.actions-header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--header-acts-text);
	background-color: var(--header-acts-bg);
	background-image: var(--header-acts-img);
	padding: 0.38rem 1.5rem;
}
	header.actions-header h2, header.actions-header h3 {
		font: normal 1.5em/1.2 var(--stack-b);
	}

	header.actions-header ul.actions-list > li > button {
		padding: 0.45rem 0.6rem;
		border: 1px solid var(--body-bg);
	}

	header.actions-header ul.actions-list > li > button:hover, header.actions-header ul.actions-list > li > button:focus {
		color: var(--main-color);
		background-color: var(--highlight);
	}

/* Exceptions for user's dropdown */
app-header header div.dropdown button.control {
  background-color: var(--n-dark);
	border: none;
}
app-header header div.dropdown ul {
	left: auto;
	right: 0;
  background-color: var(--n-dark);
}
app-header header div.dropdown ul button, app-header header div.dropdown .button-link a,
  app-header header div.dropdown a {
		background-color: var(--n-dark);
	}

app-header header div.dropdown a {
	display: block;
	box-sizing: border-box;
	padding: 0.5em;
	border-radius: var(--radius);
}

app-header header div.dropdown a:hover, app-header header div.dropdown a:focus {
	color: var(--text-sel-hover);
	background-color: var(--text-sel-bg-hover);
}

header.actions-header div.dropdown {
	border: 1px solid var(--body-bg);
  border-radius: var(--radius);
}
header.actions-header .textless div.dropdown {
	border: none;
}
header.actions-header div.dropdown button.control {
	border: none;
}
header.actions-header li.combine div.dropdown button.control {
	border: 1px solid var(--body-bg);
}
app-info-block app-modal-button button {
  font-size: 150%;
  width: 1em;
  height: 1em;
  padding: 0;
}

/* Exceptions for multiselect */
div.props-list ul app-checkbox label {
	display: block;
	padding: 0 0.25em 0.5em;
}
