/* --------------------------------------------------------------------
               			INTEGRALE 2021
										Light Theme
/*-------------------------------------------------------------------- */

:root {
	--stack: Corbel, Roboto, Avenir, sans-serif;

	--body-text: #FFF;
	--body-bg: #303030;
	--text-inv: #333;

	--main-color: #00CEE4;
	--main-light: #E8ECEF;
	--n-dark: #2C4862;
	--n-u-dark: #000;
	--n-medium: #7FA1C1;
	--n-light: #CCC;
	--n-u-light: #F3F5F8;
	--highlight: #FFB300;
	--alert-color: #FF5252;
	--focus-color: #FFBF00;

	--gradient: linear-gradient(20deg, #E8ECEF, #FFF);

	--radius: 1em;

}
