/* --------------------------------------------------------------------
               			INTEGRALE 2021
										Light Theme
/*-------------------------------------------------------------------- */

:root {
	--stack: bai_jamjureeregular, "Century Gothic", Roboto, Avenir, sans-serif;
	--stack-b: bai_jamjureesemibold, "Century Gothic", Roboto, Avenir, sans-serif;
	--stack-h: bai_jamjureebold, "Century Gothic", Roboto, Avenir, sans-serif;

	--body-text: #406A93;
	--body-bg: #FFF;
	--text-inv: #FFF;
	--text-var: #2C4862;
	--main-color: #406A93;
	--main-light: #E8ECEF;
	--n-dark: #2C4862;
	--n-medium: #7FA1C1;
	--n-light: #CCC;
	--n-u-light: #F3F5F8;
	--highlight: #CAECFF;
	--alert-color: #C00;
	--focus-color: #F60;

	--gradient: linear-gradient(20deg, #E8ECEF, #FFF);

	--and: #9EFAB5;
	--or: #FAE261;

	--mark: #F90;
	--nomark: #000;

	--radius: 0.3rem;

	--bt-color: var(--text-inv);
	--bt-bg: var(--main-color);

	--sprite: url(/assets/img/sprite.svg);
	--icon-border: 1px solid var(--main-color);
	--icon-bg: var(--main-color);

	--text-sel-hover: var(--body-text);
	--text-sel-bg-hover: var(--highlight);

	--header-text: var(--text-inv);
	--header-bg: var(--n-dark);
	--header-border: 2px solid var(--body-bg);

	--header-acts-text: var(--text-inv);
	--header-acts-bg: var(--main-color);
	--header-acts-img: none;

	--nav-icon: var(--text-inv);
	--nav-icon-on: var(--n-dark);
	--nav-on-bg: rgba(255,255,255,1);

	--search-bt-text: var(--text-inv);
	--search-bt-bg: var(--n-dark);
	--search-link: var(--text-inv);
	--search-close-bg: rgba(255,255,255,0.3);
	--search-close-img: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 19 19'%3E%3Cpath d='M13.58,12h-.86l-.3-.29a7.05,7.05,0,1,0-.76.76l.29.3v.86L17.38,19,19,17.38ZM7.06,12A4.89,4.89,0,1,1,12,7.06,4.88,4.88,0,0,1,7.06,12Z' style='fill: %23FFF;transform: skewX(20deg)' /%3E%3C/svg%3E");
	--search-close-img-exp: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 19 19'%3E%3Cpath d='M19,1.91,17.09,0,9.5,7.59,1.91,0,0,1.91,7.59,9.5,0,17.09,1.91,19,9.5,11.41,17.09,19,19,17.09,11.41,9.5Z' style='fill: %23FFF' /%3E%3C/svg%3E");

	--ipt-text: var(--text-var);
	--ipt-bg: var(--body-bg);
	--ipt-border: 1px solid var(--main-color);
	--ipt-radius: var(--radius);
	--select-img:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='8'%3E%3Cpolygon id='dd-arrow' points='0 0 13 0 6.5 8 0 0' style='fill:%23406A93' /%3E%3C/svg%3E");
	--pholder: var(--main-color);
	--submit-text: var(--text-inv);
	--submit-bg: var(--main-color);
	--submit-text-hover: var(--main-color);
	--submit-bg-hover: var(--highlight);
	--reset-text: var(--main-color);
	--reset-bg: var(--main-light);

	--fieldset-h: var(--main-light);

	--filter-text: var(--body-text);
	--filter-bg: var(--main-light);
	--filter-img: none;

	--stressed: var(--n-dark);

	--table-th-text: var(--body-color);
	--table-th-bg: var(--main-light);
	--table-th-border: var(--n-medium);
	--table-td-text: var(--text-var);
	--table-td-bg: var(--body-color);
	--table-td-border: '';
	--table-even-text: '';
	--table-even-bg: var(--n-u-light);
	--table-even-border: '';
	--table-sort-img: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.39' height='10.18' viewBox='0 0 14.39 10.18'%3E%3Cpolygon points='0 2.29 14.39 2.29 7.2 10.18 0 2.29' style='fill:%23406393'/%3E%3Crect width='14.39' height='1.23' style='fill:%23406393'/%3E%3C/svg%3E");
	--tr-hover-text: '';
	--tr-hover-bg: var(--highlight);
  --caption-rule: var(--main-color);

	--slide-col-bt-text: var(--n-dark);
	--slide-col-bt-bg: var(--main-light);
	--slide-col-bt-border: 1px solid var(--body-bg);

	--slide-panel-tit-text: var(--text-inv);
	--slide-panel-tit-bg: var(--main-color);

	--dd-control-text: var(--text-inv);
	--dd-control-bg: var(--main-color);
	--dd-control-svg: var(--text-inv);
	--dd-menu-text: var(--text-inv);
	--dd-menu-bg: var(--main-color);
	--dd-menu-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
	--dd-bt-text: var(--text-inv);
	--dd-bt-bg: var(--main-color);
	--dd-border: 1px solid var(--body-bg);

	--new-rule-hl: var(--main-light);

	--chip-border: var(--n-medium);
	--chip-text: var(--body-text);
	--chip-bg: var(--body-bg);
	--chip-close-img: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14'%3E%3Cpath d='M14,1.41,12.59,0,7,5.59,1.41,0,0,1.41,5.59,7,0,12.59,1.41,14,7,8.41,12.59,14,14,12.59,8.41,7Z' style='fill: %23406A93' /%3E%3C/svg%3E");

	--check-bg: transparent;
	--check-shape: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M19,5V19H5V5H19Z' style='fill: %23406A93' /%3E%3C/svg%3E");
	--check-shape-on: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M10,17L5,12L6.41,10.58L10,14.17L17.59,6.58L19,8M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3Z' style='fill: %23406A93' /%3E%3C/svg%3E");
	--radio-shape: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z' style='fill: %23406A93' /%3E%3C/svg%3E");
	--radio-shape-on: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M10,17L5,12L6.41,10.58L10,14.17L17.59,6.58L19,8M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z' style='fill: %23406A93' /%3E%3C/svg%3E");

	--switch-text: var(--main-color);
	--switch-bg: var(--body-bg);
	--switch-border: 2px solid var(--main-color);
	--switch-radius: var(--radius);
	--switch-text-on: var(--text-inv);
	--switch-bg-on: var(--main-color);
	--switch-div: var(--main-color);
	--switch-div-on: var(--body-bg);

	--error-m-text: var(--n-dark);
	--error-m-bg: var(--or);
	--error-m-img: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='19' viewBox='0 0 22 19'%3E%3Cpath d='M12,12H10V8h2m0,8H10V14h2M0,19H22L11,0Z'/%3E%3C/svg%3E");

	--step-pseudo: var(--main-color);
	--step-text: var(--n-medium);
	--step-num-text: var(--n-medium);
	--step-num-bg: var(--main-light);
	--step-num-border: 2px solid var(--main-light);
	--step-text-sel: var(--main-color);
	--step-num-text-sel: var(--main-color);
	--step-bg-sel: var(--highlight);
	--step-border-sel: 2px solid var(--main-color);
	--step-text-past: var(--main-color);
	--step-num-text-past: var(--main-color);
	--step-bg-past: var(--body-bg);
	--step-border-past: 2px solid var(--main-color);

	--card-text: var(--text-var);
	--card-bg: var(--main-light);
	--card-text-on: var(--text-var);
	--card-bg-on: var(--highlight);

	--desc-text: var(--text-var);
	--desc-bg: var(--main-light);
	--rule-value-text: '';
	--rule-value-bg: '';

	--tree-img-rules: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.98' height='6' viewBox='0 0 16.98 6'%3E%3Cpath d='M14,4H8V6h6M0,6H6V0H0M8,0V2h9V0' style='fill: %23406A93' /%3E%3C/svg%3E");
	--tree-img-problems: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='17.22' viewBox='0 0 18 17.22'%3E%3Cpolygon points='0 17.22 18 17.22 9 0 0 17.22' style='fill:%23406a93'/%3E%3C/svg%3E");
	--tree-img-depots: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='16.54' viewBox='0 0 19 16.54'%3E%3Crect width='19' height='2.23' style='fill:%23406a93'/%3E%3Cpath d='M1.4,3.47V16.54H17.6V3.47Zm7,10.73H4.93V5.57H8.39Zm5.68,0H10.61V5.57h3.46Z' style='fill:%23406a93'/%3E%3C/svg%3E");
	--tree-line: 1px dotted var(--n-dark);
	--tree-node: var(--main-color);
	--tree-node-sel-text: var(--main-color);
	--tree-node-sel-bg: var(--highlight);
	--tree-deploy: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M12,3C7.58,3 4,4.79 4,7C4,9.21 7.58,11 12,11C16.42,11 20,9.21 20,7C20,4.79 16.42,3 12,3M4,9V12C4,14.21 7.58,16 12,16C16.42,16 20,14.21 20,12V9C20,11.21 16.42,13 12,13C7.58,13 4,11.21 4,9M4,14V17C4,19.21 7.58,21 12,21C16.42,21 20,19.21 20,17V14C20,16.21 16.42,18 12,18C7.58,18 4,16.21 4,14Z' style='fill: %23406A93' /%3E%3C/svg%3E");
	--tree-fav: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Crect width='16' height='16' style='fill:%23fff;opacity:0'/%3E%3Cpolygon points='8 0.39 10.47 5.4 16 6.2 12 10.1 12.94 15.61 8 13.01 3.06 15.61 4 10.1 0 6.2 5.53 5.4 8 0.39' style='fill:%23c68318'/%3E%3C/svg%3E");
	--tree-locked: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Crect width='16' height='16' style='fill:%23fff;opacity:0'/%3E%3Cpath d='M12.57,5.33A1.54,1.54,0,0,1,14.1,6.86v7.62A1.53,1.53,0,0,1,12.57,16H3.43A1.53,1.53,0,0,1,1.9,14.48V6.86A1.53,1.53,0,0,1,3.43,5.33h.76V3.81a3.81,3.81,0,0,1,7.62,0V5.33h.76M8,1.52A2.3,2.3,0,0,0,5.71,3.81V5.33h4.58V3.81A2.3,2.3,0,0,0,8,1.52Z'/%3E%3C/svg%3E");
	--tree-inactive: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.22' height='16' viewBox='0 0 14.22 16'%3E%3Cpath d='M7.11,0C3.18,0,0,1.59,0,3.56S3.18,7.11,7.11,7.11s7.11-1.59,7.11-3.55S11,0,7.11,0M0,5.33V8c0,2,3.18,3.56,7.11,3.56S14.22,10,14.22,8V5.33c0,2-3.18,3.56-7.11,3.56S0,7.3,0,5.33M0,9.78v2.66C0,14.41,3.18,16,7.11,16s7.11-1.59,7.11-3.56V9.78c0,2-3.18,3.55-7.11,3.55S0,11.74,0,9.78Z' style='fill:%23c00'/%3E%3C/svg%3E");

	--cal-caption: var(--text-inv);
	--cal-text: var(--text-inv);
	--cal-bg: var(--main-color);
	--cal-bt-next: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Crect width='25' height='25' style='fill:%23fff;opacity:0'/%3E%3Cpolygon points='8.41 19.69 8.41 5.31 18.59 12.5 8.41 19.69' style='fill:%23fff'/%3E%3C/svg%3E");
	--cal-bt-next-hover: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Crect width='25' height='25' style='fill:%23fff;opacity:0'/%3E%3Cpolygon points='8.41 19.69 8.41 5.31 18.59 12.5 8.41 19.69' style='fill:%23406A93'/%3E%3C/svg%3E");
	--cal-th: var(--main-color);
	--cal-th-bg: var(--body-bg);
	--cal-td: var(--main-color);
	--cal-td-bg: var(--body-bg);
	--cal-today: '';
	--call-hover: var(--text-inv);
	--call-hover-bg: var(--highlight);

	--det-text: var(--body-text);
	--det-bg: var(--body-bg);
	--det-border: 1px solid var(--main-color);
	--det-radius: 0;
	--det-content-bg: var(--main-light);
	--det-content-sp-bg: var(--body-bg);

	--tab-text: var(--main-color);
	--tab-bg: var(--body-bg);
	--tab-on-bg: var(--main-color);
	--tab-on-text: var(--text-inv);
	--tab-content-bg: var(--body-bg);

	--ranger-tick-color: var(--main-color);
	--ranger-thumb: var(--main-color);
	--ranger-thumb-radius: 14px;

	--info-add: var(--text-inv);
	--info-bg: var(--body-bg);

	--note-div: var(--main-color);

	--add-list-text: var(--body-text);
	--add-list-bg: var(--main-light);
	--add-list-border: var(--main-color);
	--add-list-div: 1px solid var(--n-medium);
	--add-list-close-bg: var(--main-light);

	--roster-active-text: var(--body-text);
	--roster-active-bg: var(--highlight);
	--depot-div: var(--main-color);
	--grid-line: var(--n-dark);
	--grid-bt-text: var(--main-color);
	--grid-bt-bg: var(--body-bg);
  --plan-controls: var(--main-light);

	--empty-alpha: 1;
}
