<h2>Test Long Page 2</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
  non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<blockquote id="gm-quote">
  <p [innerHTML]="quote"></p>
  <p>&mdash; Grouxo Marx</p>
</blockquote>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
  non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
  non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
  non proident, <a href="/long-page-1">goes to first long page</a> sunt in
  culpa qui officia deserunt mollit anim id est laborum.
</p>

<form method="post" action="">
	<p><label for="u-id">User ID *</label>
		<input type="text" id="u-id" name="u-id" required="required" />
    <span class="error-message" [ngClass]="{'active': onError}" id="{{ errorId }}">
      User ID is mandatory
    </span>
  </p>

	<p><label for="f-name">First name</label>
		<input type="text" id="f-name" name="f-name" />
  </p>

	<p><label for="l-name">Last name</label>
		<input type="text" id="l-name" name="l-name" />
  </p>

	<p><label for="l-email">E-mail</label>
		<input type="text" id="l-email" name="l-email" />
  </p>

	<p class="stressed"><label for="u-pwd">Password</label>
		<input type="password" id="u-pwd" name="u-pwd" />
  </p>

	<p class="complement"><label for="u-type">Type</label>
		<select id="u-type" name="u-type">
			<option value="type1">Technical operator</option>
			<option value="type2">Economic operator</option>
			<option value="type3">Facility administrator</option>
			<option value="type4">Machine administrator</option>
		</select></p>

	<p class="buttons-bar">
    <input type="submit" value="Create" (click)="doNothing($event)" />
    <input type="reset" value="Cancel" />
  </p>
</form>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
  non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
  non proident, sunt in
  culpa qui officia deserunt mollit anim id est laborum.
</p>

<p>
  <button type="button" (click)="updateQuote()">
    Update quote
  </button>
</p>


<!--app-toast id="toast" #toast>
  The quote has been updated
</app-toast-->
