<div
  class="modal"
  role="dialog"
  aria-modal="true"
  #dialogElement
  [attr.aria-hidden]="!isOpen"
  (keydown)="handleKeyEvents($event)">
  <div class="overlay" (click)="ToggleOpen()"></div>
  <div class="modal-body">
    <h2 class="modal-title" [id]="dialogTitle" tabindex="0" #focusable>
      {{ modalTitle }}
    </h2>
    <p><button class="modal-close" (click)="ToggleOpen()">Close</button></p>
    <div class="content" [id]="dialogDescription">
      <ng-content></ng-content>
    </div>
  </div>
</div>
